spring:

  ai:

    openai:
      api-key: ${GEMINI_API_KEY}
      chat:
        base-url: https://generativelanguage.googleapis.com
        completions-path: /v1beta/openai/chat/completions
        options:
          model: gemini-2.0-flash
#      embedding:
#        options:
#          model: gemini-1.5-embed-text

server:
  port: 8081
